@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Roboto&display=swap');

:root {
  --primary-color: #126B80;
  --secondary-color: #1E8786;
  --accent1-color: #5A5B42;
  --accent2-color: #1D2011;

  --heading-font: Belanosima, sans-serif;
  --default-font: Roboto, sans-serif;

  --nav-bg-color: var(--secondary-color);
  --nav-link-color: rgb(232, 225, 225);
  --nav-hover-color: var(--accent2-color);
  --nav-hover-bg-color: var(--accent1-color);
}
body {
  font-family: var(--default-font);
  font-size: 12px;
  max-width: 960px;
  padding: 20px;
  font-weight: 100;
  line-height: 30px;
  color: #777;
  /*background: #4CAF50;*/
}

h6 h5 h4 h3 h2 h1 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
  align-items: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--accent1-color);
  font-family: var(--heading-font);
  font-size: 30px;
  color: var(--nav-link-color);
}

p {
  padding:25px;
  font-family: var(--default-font);
  font-size: 20px;
}

nav {
  background-color: var(--nav-bg-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-color);
  background-color: var(--nav-hover-bg-color);
}

.hero {
  width: 100%;
  position: relative;
  height: 600px;
  align-content: center;
  
}

.hero div {

}

.hero h1 {
  padding: 1rem;
  margin: 0;
  text-align: center;
  font-family: var(--heading-font);
  font-size: 3rem;
  color:var(--accent1-color);
}

.hero h3 {

  text-align: center;
  font-family: var(--heading-font);
  color:var(--primary-color);
  font-size: 2rem;
  margin: 0;
  padding: 0;
  
  
}

.hero article {

  
  height: 10rem;
  margin: 2rem;
  padding: 1rem;
  
}



.hero article img {
  float: right;
  height: 100%;
  margin: 4rem;
  
  
}

.hero article p {
  margin: 0;
  padding: 10px;
  
  color:var(--primary-color);
  font-family: var(--default-font);
  font-size: 1.2rem;
  
}

.history section {
  display: block;
  text-align: center;
  font-family: var(--default-font);
  color: var(--accent1-color);
}

.history h2 {
  text-align: center;
  font-family: var(--heading-font);
  color:var(--primary-color);
  font-size: 2rem;
  margin: 2px;
  padding: 0;
}


  
.history div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: start;
  font-family: var(--heading-font);
  
  
  
}

.history div img {
  width: 100%;
}

.history div p {
  padding: 1rem;
  margin: 01rem;
  border: 0;
  color: var(--primary-color);
  font-family: var(--default-font);
  font-size: 1.2rem;
}


.adventure {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}

.adventure figure img {
  width: 100%;
}


footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.social-media {
  display: flex;
  justify-content: flex-end;
}

.social-media a {
  text-decoration: none;
}

.social-media img {
  width: 3rem;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

ul li{
  color:#AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #333;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: .8rem;

}

ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s;

}
form {
  display: grid;
  gap: 0px;
  padding: 1em;
  background-color:#1E8786;
  border: 1px solid black;
  border-radius: 20px;
  width: 500px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="radio"],
#contact textarea,
#contact input[type="checkbox"],
#contact button[type="submit"] {
  font: 400 12px/16px var(--default-font)
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h1 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h2 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="radio"],
#contact input[type="checkbox"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="radio"]:hover,
#contact input[type="checkbox"]:hover,
#contact textarea:hover {

color: var(--nav-hover-color);
background-color: var(--nav-hover-bg-color);
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  
  color: var(--nav-hover-color);
  background-color: var(--nav-hover-bg-color);
}



label {
  font-family: Tahoma;
  color: var(--accent1-color);
  font-size: .8rem;
}

b {
  color:white;
}

input, select {
  height: 2rem;
}


button {
  background-color:#5a5b42;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: .4rem;
  font-size: 1.2rem;
}

/* last modified 07/16/23 */
